<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel="stylesheet" th:href="@{/styles.css}" />
      <title>Cоздание похода</title>
  </head>
  <body>
      <h1>Создание похода</h1>
      <h3>
          <a href="http://localhost:8080/user"><button>назад</button></a>
      </h3>
      <form method="post" th:object="${hikeRequest}">
          <div>
              <label for="name">Название: </label>
              <input type="text" th:field="*{name}">
              <span class="validationError">*</span>
              <span class="validationError"
                    th:if="${#fields.hasErrors('name')}"
                    th:errors="*{name}">name
              </span>
          </div>
          <div>
              <label for="start">Начало: </label>
              <input type="date" th:field="*{dateStart}">
          </div>
          <div>
              <label for="finish">Конец: </label>
              <input type="date" th:field="*{dateFinish}">
          </div>
          <div>
              <label for="notes">Примечания: </label>
              <textarea th:field="*{notes}"></textarea>
          </div>
          <h3 class="info">Поля со * обязательны для заполнения</h3>
          <div>
              <button>создать</button>
          </div>
      </form>
  </body>
</html>