<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" th:href="@{/styles.css}" />
        <title>Создание туриста</title>
    </head>
    <body>
        <h1>Регистрация</h1>
        <h3>
            <a href="http://localhost:8080/"><button>назад</button></a>
        </h3>
        <form method="post" th:object="${userRequest}">
            <div>
                <label for="name">Имя: </label>
                <input id="name" type="text" th:field="*{name}">
                <span class="validationError">*</span>
                <span class="validationError"
                      th:if="${#fields.hasErrors('name')}"
                      th:errors="*{name}">name
                </span>
            </div>
            <div>
                <label for="login">Логин: </label>
                <input id="login" type="text" th:field="*{login}">
                <span class="validationError">*</span>
                <span class="validationError"
                      th:if="${#fields.hasErrors('login')}"
                      th:errors="*{login}">login
                </span>
                <span class="validationError" th:text="${msg}"></span>
            </div>
            <div>
                <label for="password">Пароль: </label>
                <input id="password" type="text" th:field="*{password}">
                <span class="validationError">*</span>
                <span class="validationError"
                      th:if="${#fields.hasErrors('password')}"
                      th:errors="*{password}">password
                </span>
            </div>
            <div>
                <label for="phoneNumber">Номер телефона: </label>
                <input id="phoneNumber" type="text" th:field="*{phoneNumber}">
                <span class="validationError">*</span>
                <span class="validationError"
                      th:if="${#fields.hasErrors('phoneNumber')}"
                      th:errors="*{phoneNumber}">phoneNumber
                </span>
            </div>
            <div>
                <label for="notes">Примечания: </label>
                <textarea id="notes" th:field="*{notes}"></textarea>
            </div>
            <h3 class="info">Поля со * обязательны для заполнения</h3>
            <div>
                <button>зарегистрироваться</button>
            </div>
        </form>
    </body>
</html>