<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" th:href="@{/styles.css}" />
  <title>Редактирование снаряжения</title>
</head>
<body>
<h1>Редактирование снаряжения</h1>
<form action="/hike" method="get">
  <input type="hidden" name="idHike" th:value="${equipmentRequest.getIdHike()}">
  <button>назад</button>
</form>
<form action="/editEquipment" method="post" th:object="${equipmentRequest}">
  <div>
    <label for="name">Имя: </label>
    <input id="name" type="text" th:field="*{name}">
    <span class="validationError">*</span>
    <span class="validationError"
          th:if="${#fields.hasErrors('name')}"
          th:errors="*{name}">name
                </span>
  </div>
  <div>
    <label for="grp">Группа снаряжения: </label>
    <select id="grp" th:field="*{grp}">
      <option value="PERSONAL_EQUIPMENT">личное снаряжение</option>
      <option value="PUBLIC_EQUIPMENT">общественное снаряжение</option>
      <option value="PERSONAL_HYGIENE">личная гигиена</option>
      <option value="WALKING_CLOTHES">ходовая одежда</option>
      <option value="SLEEP_CLOTHES">одежда для сна</option>
      <option value="FIRST_AID_KIT">аптечка</option>
      <option value="PUBLIC_FOOD">общественная еда</option>
      <option value="PHOTO_VIDEO">фото видео</option>
      <option value="DOCUMENTS">документы</option>
      <option value="REM_KIT">рем комплект</option>
      <option value="RESERVE">резерв</option>
    </select>
  </div>
  <div>
    <label for="weight">Вес: </label>
    <input id="weight" type="number" th:field="*{weight}">
  </div>
  <div>
    <label for="notes">Примечания: </label>
    <textarea id="notes" th:field="*{notes}"></textarea>
  </div>
  <input type="hidden" name="idEquipment" th:value="${equipmentRequest.getId()}">
  <button>сохранить изменения</button>
</form>
</body>
</html>