<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" th:href="@{/styles.css}" />
  <title>Редактирование похода</title>
</head>
<body>
<h1>Редактирование похода</h1>
<form action="/hike" method="get">
  <input type="hidden" name="idHike" th:value="${hikeRequest.getId()}">
  <button>назад</button>
</form>
<form action="/editHike" method="post" th:object="${hikeRequest}">
  <div>
    <label for="name">Название: </label>
    <input id="name" type="text" th:field="*{name}">
    <span class="validationError">*</span>
    <span class="validationError"
          th:if="${#fields.hasErrors('name')}"
          th:errors="*{name}">name
              </span>
  </div>
  <div>
    <label for="start">Начало: </label>
    <input id="start" type="date" th:field="*{dateStart}">
  </div>
  <div>
    <label for="finish">Конец: </label>
    <input id="finish" type="date" th:field="*{dateFinish}">
  </div>
  <div>
    <label for="notes">Примечания: </label>
    <textarea id="notes" th:field="*{notes}"></textarea>
  </div>
  <h3 class="info">Поля со * обязательны для заполнения</h3>
  <input type="hidden" name="idHike" th:value="${hikeRequest.getId()}">
  <div>
    <button>сохранить изменения</button>
  </div>
</form>
</body>
</html>