<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" th:href="@{/styles/stylesHome.css}" />
        <title>Рюкзак туриста</title>
    </head>



        <div class="Box_Home Menu_Home">
            <form action="/user" method="get">
                <span class="Button_Home"><button>вход</button></span>
            </form>
            <form action="/home" method="get">
                <input type="hidden" name="msg" value="reg">
                <span class="Button_Home"><button>регистрация</button></span>
            </form>
        </div>



        <div class="Box_Home" th:if="${!msg.isEmpty()}">
            <form action="/home" method="post" th:object="${userRequest}">
                <h3>Регистрация</h3>
                <table>
                    <tr>
                        <td class="td_text_right_Home">Имя:</td>
                        <td>
                            <input type="text" th:field="*{name}">
                            <span class="ValidationError_Home">*</span>
                            <span class="ValidationError_Home"
                                  th:if="${#fields.hasErrors('name')}"
                                  th:errors="*{name}">name</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="td_text_right_Home">Логин:</td>
                        <td>
                            <input type="text" th:field="*{login}">
                            <span class="ValidationError_Home">*</span>
                            <span class="ValidationError_Home"
                                  th:if="${#fields.hasErrors('login')}"
                                  th:errors="*{login}">login</span>
                            <span class="ValidationError_Home" th:if="${msg.equals('Логин занят')}" th:text="${msg}"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="td_text_right_Home">Пароль:</td>
                        <td>
                            <input type="password" th:field="*{password}">
                            <span class="ValidationError_Home">*</span>
                            <span class="ValidationError_Home"
                                  th:if="${#fields.hasErrors('password')}"
                                  th:errors="*{password}">password</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="td_text_right_Home">Номер телефона:</td>
                        <td >
                            <input type="text" th:field="*{phoneNumber}">
                            <span class="ValidationError_Home">*</span>
                            <span class="ValidationError_Home"
                                  th:if="${#fields.hasErrors('phoneNumber')}"
                                  th:errors="*{phoneNumber}">phoneNumber</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="td_text_right_Home">Примечания:</td>
                        <td >
                            <textarea th:field="*{notes}"></textarea>
                        </td>
                    </tr>
                </table>
                <h3 class="ValidationError_Home">Поля со * обязательны для заполнения</h3>
                <div>
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                    <button>зарегистрироваться</button>
                    <span class="ValidationError_Home" th:if="${msg.equals('Введите учетные данные корректно')}" th:text="${msg}"></span>
                </div>
            </form>
            <a href="/home">
                <h3>
                    <button>отмена</button>
                </h3>
            </a>
        </div>



        <div class="Box_Home Main_Home">
            <h1>РЮКЗАК ТУРИСТА</h1>
        </div>



        <div class="Box_Home Description_Home">
            <h3>
                <p>Тут будет описание приложения !!!</p>
            </h3>
        </div>



    </body>
</html>