<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" th:href="@{/styles.css}" />
        <title>Вход</title>
    </head>
    <body>
        <h1>Вход</h1>
        <h3>
            <a href="http://localhost:8080/"><button>назад</button></a>
        </h3>
        <form method="post" th:object="${userLogPasRequest}">
            <div>
                <label for="login">Логин: </label>
                <input type="text" th:field="*{login}">
                <span class="validationError"
                      th:if="${#fields.hasErrors('login')}"
                      th:errors="*{login}">login
                </span>
            </div>
            <div>
                <label for="password">Пароль: </label>
                <input type="text" th:field="*{password}">
                <span class="validationError"
                      th:if="${#fields.hasErrors('password')}"
                      th:errors="*{password}">password
                </span>
            </div>
            <h3>
                <span class="validationError" th:if="*{isError}">Логин или пароль указан неверно.</span>
            </h3>
            <div>
                <button>войти</button>
            </div>
        </form>
    </body>
</html>