<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Страница туриста</title>
  </head>
  <body>
    <h1>Страница туриста</h1>
    <div>тут будет приветствие от админа</div>
    <h3>
        <a href="http://localhost:8080/addHike"><button>создать поход</button></a>
    </h3>
    <h3>
        <a href="http://localhost:8080/user/exit"><button>выход</button></a>
    </h3>
    <form method="get" action="/hike">
        <div>
            <span>Укажите id похода: </span>
            <input name="id" type="number" min="1" max="9223372036854775807" required>
            <button>просмотр</button>
        </div>
    </form>
    <h3>Список походов:</h3>
    <div th:object="${userResponse}">
        <span class="validationError" th:if="*{getHikeList().size() == 0}">в походы не ходил</span>
        <div th:each="hike : *{getHikeList()}">
            <span th:text="${hike.getId()}"></span>
            <span> - </span>
            <span th:text="${hike.getName()}"></span>
            <span>. Начало - </span> <span th:text="${hike.getDateStart()}"></span>
            <span>. Конец - </span> <span th:text="${hike.getDateFinish()}"></span>
            <div th:each="equipment : ${hike.getEquipmentList()}">
                <span th:text="${equipment}"></span>
            </div>
        </div>
    </div>
  </body>
</html>