<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel="stylesheet" th:href="@{/styles/styles.css}" />
      <title th:text="${userResponse.getName()}"></title>
  </head>
  <body>
    <h1 th:text="${userResponse.getName()}"></h1>
    <div>тут будет приветствие от админа</div>
    <h3>
        <a href="http://localhost:8080/user/exit"><button>выход</button></a>
    </h3>
    <form action="/editUser" method="get">
        <input type="hidden" name="login" th:value="${userResponse.getLogin()}">
        <button>редактировать аккаунт</button>
    </form>
    <form action="/user/deleteUser" method="post">
        <input type="hidden" name="login" th:value="${userResponse.getLogin()}">
        <button>удалить аккаунт</button>
    </form>
    <h3>
        <a href="http://localhost:8080/addHike"><button>создать поход</button></a>
    </h3>
    <form method="get" action="/hike">
        <div>
            <span>Укажите id похода </span>
            <input name="idHike" type="number" min="1" max="9223372036854775807" required>
            <button>просмотр похода</button> <span class="validationError" th:text="${msg}"></span>
        </div>
    </form>
    <form action="/user" method="post">
        <span>Укажите id похода </span>
        <input name="idHike" type="number" min="1" max="9223372036854775807" required>
        <button>удалить поход</button>
    </form>
    <h3>Список походов:</h3>
    <div th:object="${userResponse}">
        <span class="validationError" th:if="*{getHikeList().size() == 0}">в походы не ходил</span>
        <div th:each="hike : *{getHikeList()}">
            <span th:text="${hike.getId()}"></span>
            <span> - </span>
            <span th:text="${hike.getName()}"></span>
            <span>. Начало - </span> <span th:text="${hike.getDateStart()}"></span>
            <span>. Конец - </span> <span th:text="${hike.getDateFinish()}"></span>
        </div>
    </div>
  </body>
</html>