<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel="stylesheet" th:href="@{/styles/stylesUser.css}" />
      <title th:text="${userResponse.getName()}"></title>
  </head>
  <body>

    <div class="Menu_User Box_User">
        <span th:text="${userResponse.getName()}"></span>
        <div class="MenuSmall_User">
            <form class="Button_User" action="http://localhost:8080/addHike" method="get">
                <button>создать поход</button>
            </form>
            <form class="Button_User" action="/editUser" method="get">
                <input type="hidden" name="login" th:value="${userResponse.getLogin()}">
                <button>редактировать аккаунт</button>
            </form>
            <form class="Button_User" action="/user/deleteUser" method="post">
                <input type="hidden" name="login" th:value="${userResponse.getLogin()}">
                <button>удалить аккаунт</button>
            </form>
            <form class="Button_User" action="http://localhost:8080/user/exit" method="get">
                <button>выход</button>
            </form>
        </div>
    </div>
    <table class="U_Table" th:object="${userResponse}">
        <thead>
            <tr>
                <th><h3>Список походов</h3></th>
            </tr>
        </thead>
        <tbody>
            <tr class="U_tr">
                <td class="U_td"><h4>Название</h4></td>
                <td class="U_td"><h4>Начало</h4></td>
                <td class="U_td"><h4>Конец</h4></td>
                <td class="U_td"><h4>Примечания</h4></td>
                <td class="U_td"><h4>Действие</h4></td>
                <td class="U_td"><h4>Действие</h4></td>
            </tr>
            <tr class="U_tr" th:each="hike : *{getHikeList()}">
                <td class="U_td" th:text="${hike.getName()}"></td>
                <td class="U_td" th:text="${hike.getDateStart()}"></td>
                <td class="U_td" th:text="${hike.getDateFinish()}"></td>
                <td class="U_td" th:text="${hike.getNotes()}"></td>
                <td class="U_td U_LengthView" >
                    <form method="get" action="/hike">
                        <input name="idHike" type="hidden" th:value="${hike.getId()}">
                        <button>просмотр</button>
                        </div>
                    </form>
                </td>
                <td class="U_td">
                    <form action="/user" method="post">
                        <input name="idHike" type="hidden" th:value="${hike.getId()}">
                        <button>удалить</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
  </body>
</html>