* {
    box-sizing: border-box;
}

.Box_Home {
    width: 1170px;
    margin: 5px auto;
    border-radius: 10px;
    padding: 10px;
    background: chartreuse;
}

.Menu_Home {
    /*следующ ая строка размещает дивы друг за другом*/
    display: flex;
    /*следующая строка разносит все элементы в стороны*/
    justify-content: space-between;
    /*следующая строка разносит элементы на одинаковые расстояния*/
    /*justify-content: space-around;*/
    /*тут все выравнивается по горизонтали по центру*/
    align-items: center;

    /*размер шрифта*/
    /*font-size: 20px;*/

    /*ограничение максимальной ширины*/
    /*max-width: 500px;*/

    /*между строчный интервал*/
    /*line-height: 45px;*/

    /*жирный шрифт*/
    /*font-weight: normal;*/
}

.Main_Home {
    text-align: center;
    padding: 2px;
}

.Description_Home {
    padding: 2px;
}



.ValidationError_Home {
    color: red;
}

.td_text_right_Home {
    text-align: right;
}

input, textarea {
    max-width: 250px;
    min-width: 250px;
}