* {
    box-sizing: border-box;
}

.Box_User {
    width: 1170px;
    margin: 5px auto;
    border-radius: 10px;
    padding: 10px;
    background: chartreuse;
}

.Menu_User {
    /*следующ ая строка размещает дивы друг за другом*/
    display: flex;
    /*следующая строка разносит все элементы в стороны*/
    justify-content: space-between;
    /*тут все выравнивается по горизонтали по центру*/
    align-items: center;
}

.Menu_Right_User {
    display: flex;
}

.Button_User {
    padding-left: 30px;
}

.ValidationError_User {
    color: red;
}

.Table_User {
    border-collapse: collapse;
    border: 2px solid black;
    margin: 10px auto;
    background: beige;
}

.td_Name_User {
    min-width: 200px;
    max-width: 200px;
}

.td_Date_User {
    min-width: 75px;
    max-width: 75px;
}

.td_Note_User {
    min-width: 400px;
    max-width: 400px;
}

.td_Edit_User {
    width: 110px;
}

.td_View_User {
    width: 77px;
}

.td_Delete_User {
    width: 110px;
}

.td_text_right_User {
    text-align: right;
}

.td_tr_User {
    border: 1px solid black;
}

input, textarea {
    max-width: 250px;
    min-width: 250px;
}

