* {
    box-sizing: border-box;
}

.Box_Hike {
    width: 1170px;
    margin: 5px auto;
    border-radius: 10px;
    padding: 10px;
    background: chartreuse;
}

.Menu_Hike {
    /*следующ ая строка размещает дивы друг за другом*/
    display: flex;
    /*следующая строка разносит все элементы в стороны*/
    justify-content: space-between;
    /*тут все выравнивается по горизонтали по центру*/
    align-items: center;
}

.Menu_Right_Hike {
    display: flex;
}

.Button_Hike {
    padding-left: 40px;
}

.ValidationError_Hike {
    color: red;
}

.Table_Hike {
    border-collapse: collapse;
    border: 2px solid black;
    margin: 10px auto;
    background: beige;
}

input, textarea, select {
    max-width: 250px;
    min-width: 250px;
}

.td_text_right_Hike {
    text-align: right;
}

.td_Group_Hike {
    min-width: 194px;
    max-width: 194px;
}

.td_Description_Hike {
    min-width: 854px;
    max-width: 854px;
}

.td_Name_Hike {
    min-width: 160px;
    max-width: 160px;
}

.td_Weight_Hike {
    min-width: 70px;
    max-width: 70px;
}

.td_Notes_Hike {
    min-width: 400px;
    max-width: 400px;
}

.td_Edit_Hike {
    width: 110px;
}

.td_Delete_Hike {
    width: 110px;
}

.Table_Hike_2 {
    border-collapse: collapse;
}

.tr_Hike {
    border: 1px solid black;
}

.td_Hike {
    border: 1px solid black;
}

.td_text_right_Hike {
    text-align: right;
}